html, body{
   font-family:'Courier New', Courier, monospace;
   margin: 0 auto;
    scroll-behavior: smooth;
   /* font-size: 19px; */
}

button{
    color: black;
    background-color: transparent;
    border: solid rgb(95, 95, 95) 1px;
    border-radius: 7px;
    height: 50px;
    font-size: 18px;
    font-weight: lighter;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 5px 5px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button:hover{
    box-shadow: 0 0 0 1px rgba(34, 81, 209, 0.552);
    transition: all 250ms ease-in-out;
}

form{
    width: 60%;
}

.cv{
    display: flex;
    flex-direction: column;
}

.profile{
    margin-top: 150px;
    width: 100%;
    height: 150px;
    z-index: 10;
    text-align: center;
}

.profile-info{
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    text-align: center;
}

.profile-info h4{
    margin-top: 120px;
}

.profile-info h1{
    margin-top: 50px;
    font: 2.5em monospace;
}

.profile-info p{
    font-size: 25px;
}

#profile-info-buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.buttonstyle1{
    margin-bottom: 30px;
    width: 100%;
}

#profilePic{
    width: 200px;
    height: 200px;
    border-radius: 15%;
    box-shadow: 8px 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.background::before{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    filter: blur(10px);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: URL("assets/blue4K.jpg");
}

.noselect{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.footer{
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-top: 60px;
    text-align: center;
}

@media only screen and (min-width: 1000px) {
    .cv{
        flex-direction: row;
    }

    .profile{
        margin-top: 200px;
    }

    #profilePic{
        width: 450px;
        height: 500px;
        object-fit: cover;
        border-radius: 5%;
    }

    .profile-info{
        height: 100%;
    }

    .profile-info h4{
        margin-top: 400px;
    }

    .profile-info h1{
        margin-top: 200px;
    }

    .footer{
        margin-top: 0;
        width: 50%;
    }
}

/* CV.HTML Page */
.cvflex{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.cvtitles{
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 25%;
}

.cvtab h1{
    text-decoration: overline;
    font-weight: lighter;
    margin-top: 50px;
}

.jobcolor{
    color: rgb(213, 117, 0);
}

.sticky{
    position: -webkit-sticky;
    position: sticky;
    transition: 0.5s;
}

.textshadow{
    text-shadow: 1.5px 1.5px rgba(82, 82, 82, 0.37);
    font-weight: bold;
    font-size: 25px;
    color: rgb(213, 117, 0);
}

h3{
    font-size: 20px;
}

#name h2{
    color: rgb(213, 117, 0)
}

#contact{
    margin-top: 15px;
}

#contact h2{
    font-weight: normal;
}

#contact p{
    word-spacing: -2px;
}

#cvbuttondiv button{
    border: none;
    box-shadow: none;
    font-family: monospace;
    font-size: 35px;
}

@media only screen and (max-width: 1000px){
    .cvflex{
        flex-direction: column;
    }
    
    .cvtitles{
        width: 75%;
    }
}
